name: Build Image Azure Virtual Desktop

on: workflow_dispatch

env:
  LOCATION: "westeurope"
  RG_NAME_IMAGE: "Rg-AVD-Images-007"

  IMAGE_TEMPLATE_Name: "wvd10ImageTemplate00"
  SIG_NAME: "myaibsig01"
  IMAGE_DEF_NAME: "win10avdsep"

jobs:

 Buid_Image_AVD:
   runs-on: windows-2019
     

    steps:

      - name: Log in with Azure
        uses: azure/login@v1
        with:
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
          enable-AzPSSession: true


      - name: Installation des modules PowerShell
        run: |
          'Az.ImageBuilder', 'Az.ManagedServiceIdentity' | ForEach-Object {Install-Module -Name $_ -AllowPrerelease -Force}
      
 


      - name: Prerequis
        run: |
          $imageResourceGroup="${{ env.RG_NAME_IMAGE }}"
          $location="${{ env.LOCATION }}"
          New-AzResourceGroup -Name $imageResourceGroup -Location $location # Creation du ressource groupe           
                      
